<div>
    <h1>Login User</h1>
    <div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <!-- <input type="email" name="email" placeholder="email"> -->
            <input type="password" name="password" placeholder="pasword">

            <button>Login Now</button>
        </form>
    </div>
</div>